@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;

}

:root{
    /* COLORS */
    --white-color: #fff;
    --dark-color: #201A1B;
    --primary-color: #FFF3EB;
    --primary-light-color: #FEF2E8;
    --secondary-color: ;
    --dark-buttons: #282940;

    /* FONT SIZE */

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* FONT WEIGHT */

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* SITE MAX WIDTH */

    --site-max-width: 1400px;
}


/* basic styling for elements */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img{
    width: 100%;
}


/* individual styling */

.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}


/* navbar styling */

header {
    background: #FEF2E8;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar .nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap :0.2rem;
}
.navbar .nav-logo .logo-text{
    color: #252741;
    font-size: var(--font-size-l);
}

.navbar .nav-logo .logo-img{
    width: 38px;
    height: 38px;
}



.navbar .nav-menu{
    display: flex;
    gap: 10px;

}

.navbar .nav-menu .nav-link{
    padding: 20px 18px;
    color: #A5A09F;
    transition: 0.55s ease-in-out;
    font-size: var(--font-size-s);
}

.navbar .nav-menu .nav-link:hover{
    color: #696766;
}