@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;

}

:root{
    /* COLORS */
    --white-color: #fff;
    --dark-color: #201A1B;
    --primary-color: #FFF3EB;
    --primary-light-color: #FEF2E8;
    --secondary-color: ;
    --dark-buttons: #282940;

    /* FONT SIZE */

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* FONT WEIGHT */

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* SITE MAX WIDTH */

    --site-max-width: 1400px;
}


/* basic styling for elements */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img{
    width: 100%;
}


/* individual styling */

.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}


/* navbar styling */

header {
    background: #FEF2E8;
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar .nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 0.2rem;
}
.navbar .nav-logo .logo-text{
    color: #252741;
    font-size: var(--font-size-l);
}

.navbar .nav-logo .logo-img{
    width: 38px;
    height: 38px;
}



.navbar .nav-menu{
    display: flex;
    gap: 10px;
}



.navbar .nav-menu .nav-link{
    padding: 20px 18px;
    color: #A5A09F;
    transition: 0.55s ease-in-out;
    font-size: var(--font-size-s);
}

.navbar .nav-menu .nav-link:hover{
    color: #696766;
}


.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}

/* HERO STYLING */

.hero-section {
    min-height: 100vh;
    background: #F1E6DA;
}

.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    flex-direction: column;
}

.hero-section .hero-details{
    z-index: 1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem
}

.hero-section .hero-details .title{
    font-size: 5rem;
    font-family: "Lobster", sans-serif;
    color: #252741;
    max-width: 800px;
    text-align: center;
    letter-spacing: 5px;
}

.hero-section .hero-details .subtitle{
    color: #897F79;
    font-weight: 800;
    text-align: center;
    max-width: 800px;
    font-size: 20px;
}

.hero-section .hero-details .buttons .button{
    margin: 0.5rem;
    padding: 17px;
    padding-left: 27px;
    padding-right: 27px;
    border-radius: 5px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    transition: ease-in-out 0.55s;
}

.hero-section .hero-details .buttons .explore-products{
    background: #282940;
    color: #C7C7CA;
}

.hero-section .hero-details .buttons .explore-products:hover{
    background: #1E1F31;
}

.hero-section .hero-details .buttons .contact-us{
    background: #ffff;
    color: #83828A;
    padding-left: 37px;
    padding-right: 37px;
}

.hero-section .hero-details .buttons .contact-us:hover{
    background: #EFEFEF;
}









.hero-section .hero-image-wrapper {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}






.hero-section .hero-image-wrapper .hero-image{
    width: 19rem;
    height: 90vh;
}

.hero-section .hero-image-wrapper .img-left{
    position: absolute;
    left: 0;
    top: 80px;
}

.hero-section .hero-image-wrapper .img-right{
    position: absolute;
    right: 0;
    top: 80px;
}

/* overview styling*/

.overview{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFF3EB;
}

.overview-image{
    width: 400px;
    height: auto;
    border-radius: 5px;
}

.common{
    width: 400px;
    height: 198.86px;
    border-radius: 5px;
    background: #F6E9DF;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.overview-title{
    font-family: "Atkinson Hyperlegible", sans-serif;
    color: #3C3C41;
    font-size: 23px;
}

.overview-subtitle{
    font-family: "Atkinson Hyperlegible", sans-serif;
    color: #8F8380;
    line-height: 1.5rem;
}

/* ABOUT US STYLING */

.about{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #FFF3EB;
}

.about-heading-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
}

.about-heading-wrapper h1{
    font-size: 3.8rem;
    font-family: "Lobster", sans-serif;
    color: #2E2F45;
}

.about-heading::after{
    content: "";
    width: 80%;
    height: 5px;
    display: block;
    margin: 5px auto 0;
    border-radius: 5px;
    background: #A69D9C;
}


.about-content{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.about-image-wrapper{
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image-wrapper img {
    width: 40rem;
    border-radius: 5px;
    color: #2E2F45;
    letter-spacing: 3px;
}

.about-text{
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-text p{
    color: #696766;
    font-weight: bold;
    max-width: 550px;
    letter-spacing: 0.5px;
}

/* OUR MISSION STYLING */

.our-mission{
    display: flex;
    align-items: center;
    height: 100vh;
    background: #FFF3EB;
}

.our-mission-content{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10rem;
    gap: 1rem;
}

.our-mission-content .tagline{
    color: #847D82;
    font-family: "Atkinson Hyperlegible", sans-serif;
}

.our-mission-content .our-mission-title{
    color: #2E2F45;
    font-family: "Lobster", sans-serif;
    font-size: 3.8rem;
    letter-spacing: 5px;
    max-width: 700px;
}

.our-mission-content .our-mission-subtitle{
    color: #97908D;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: bold;
    max-width: 430px;
}

.our-mission-image-wrapper{
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-mission-image-wrapper img {
    width: 40rem;
    border-radius: 5px;
}

/* OFFERINGS STYLING */

.our-offerings{
    height: 95vh;
    background: #C8BFC9;
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.our-offerings .our-offerings-heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.our-offerings .our-offerings-heading .our-offerings-title{
    color: #3D3C3E;
    font-family: "Lobster", sans-serif;
    font-size: 45px;
    letter-spacing: 3px;
}

.our-offerings .our-offerings-heading .our-offerings-subtitle{
    color: #575259;
    font-weight: bolder;
    text-align: center;
    max-width: 800px;
}

.our-offerings .our-offerings-content{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.our-offerings .our-offerings-content .our-offerings-card{
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.our-offerings .our-offerings-content .our-offerings-card img{
    margin-bottom: 20px;
}

.our-offerings .our-offerings-content .our-offerings-card h3{
    font-family: "Lobster", sans-serif;
    color: #3D373D;
    font-size: 25px;
    font-weight: normal;
}

.our-offerings .our-offerings-content .our-offerings-card p {
    color: #857D86;
}

.our-offerings .our-offerings-content .our-offerings-card img{
    width: 350px;
}


/* OUR COMMITEMENT */

.our-commitment{
    display: flex;
    align-items: center;
    height: 100vh;
    background: #FFF3EB;
}

.our-commitment-content{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10rem;
    gap: 1rem;
}

.our-commitment-content .tagline{
    color: #847D82;
    font-family: "Atkinson Hyperlegible", sans-serif;
}

.our-commitment-content .our-commitment-title{
    color: #2E2F45;
    font-family: "Lobster", sans-serif;
    font-size: 3.7rem;
    letter-spacing: 5px;
    max-width: 700px;
}

.our-commitment-content .our-commitment-subtitle{
    color: #97908D;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: bold;
    max-width: 430px;
}

.our-commitment-image-wrapper{
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-commitment-image-wrapper img {
    width: 40rem;
    border-radius: 5px;
}

.partnership-content{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10rem;
    gap: 1rem;
}

/* Partnering styling */

.partnership{
    display: flex;
    align-items: center;
    height: 100vh;
    background: #FFF3EB;
}

.partnership-image-wrapper img {
    width: 40rem;
    border-radius: 5px;
}

.partnership-image-wrapper{
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partnership-content .tagline{
    color: #D7B8A2;
    font-size: 17px;
    font-weight: bold;
    font-family: "Atkinson Hyperlegible", sans-serif;
}


.partnership-content .partnership-title{
    color: #2E2F45;
    font-family: "Lobster", sans-serif;
    font-size: 3.7rem;
    letter-spacing: 5px;
    max-width: 700px;
}

.partnership-content .partnership-subtitle{
    color: #97908D;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: bold;
    max-width: 430px;
}

@media screen  and (max-width: 900px) {

    .navbar :where(#menu-close-button, #menu-open-button){
        display: block;
        width: 20px;
        height: 20px;
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar #menu-open-button{

    }

    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        bottom: 0;
        width: 300px;
        height: 100%;
        background: #897F79;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        transition:  0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu{
        left: 0;
    }

    .navbar .nav-menu .nav-link{
        color: #FFF3EB;
        font-size: 20px;
    }

    .hero-section .section-content{
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-section .hero-image-wrapper{
        max-width: 270px;
        margin-right: 0;
    }

    .hero-section .hero-details :is(.subtitle){
        max-width: 100%;
    }

    .hero-section .hero-details .buttons{
        justify-content: center;
    }
}